html,body{
    height:100%;
}

.padNav {
    padding-top: 88px;
}

.carousel,.carousel-item,.carousel-inner,
.active{
    height:100%;
}

.carousel-item {
    background-size: cover;
}

.carousel-item-bg {
    background-color:rgba(58, 58, 58, 0.5);
    padding-top: 16px;
    padding-bottom: 16px;
}

.go-btn {
    width: 124px;
    border-radius: 0;
}

.bg1 {
    background: url(img/bg.png) no-repeat center center fixed; 
}
.bg2 {
    background: url(img/bg2.png) no-repeat center center fixed; 
}
.bg3 {
    background: url(img/bg3.png) no-repeat center center fixed; 
}

h1 {
    font-weight: bolder;
}

.productTitle {
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(169, 169, 169);
}

.filters {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

#productContent {
    margin-top: 16px;
}

.item {
    padding-bottom: 8px;
}

.pPrice {
    font-weight: bold;
}

.quantity-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
}

.hidden {
    display: none !important;
}

#cat {
    width: 130px;
}

#sort {
    width:150px;
}

a{
    cursor: pointer;
}

.nav-item .active {
    cursor: default;
}

i{
    cursor: pointer;
    transition: all .2s ease;
    color: gray;
}

i:hover {
    font-size: 28px;
    margin-top: -6px;
}

.quantity{
    transition: opacity .5s ease;
}
  
.fade{
    opacity: 0;
}

.dark{
    color: black !important;
}

.cartArea {
    width: 100%;
    min-height: 450px;
    height: auto;
    border: 2px solid grey;
    position: relative;
    padding-bottom: 68px;
}

.checkoutArea {
    width: 100%;
    height: 68px;
    border-top: 1.4px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 3.5%;
    position: absolute;
    bottom: 0;
}

.total {
    font-weight: bold;
    font-size: 24px;
}
.checkoutBtn {
    padding-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    border-radius: 0;
    font-size: 24px;
    font-weight: bold;
}

.cartItems {
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.cartItem {
    position: relative;
}

.trash {
    position: absolute;
    top: 8px;
    right: 12px;
    color: white;
}

.cartTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;
}

.clearCart {
    font-size: 20px;
    height: 48px;
}

.empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    gap:16px;
}

/*
.productImg {
    width: 100%;
    height: 300px;
}

.sideimg {
    display: flex;
    flex-direction: column;
}

#mainimg {
    width: 100%;
    height: 480px;
}

.sideimg img {
    width: 100%;
    height: 160px;
}

.productDetailContent {
    border: 2px solid grey;
    border-bottom: 0;
    padding: 28px;
}

.selector {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 4px;
}

.selector img {
    width: 38px;
    height: 38px;
}

.btn-add {
    border-radius: 0;
    width: 100%;
}

 maybe relevant later??
.btn-primary {
    color: #4a2e10;
    background-color: rgb(255, 251, 241);
    border-color: rgb(255, 251, 241);
}

.btn-primary:hover {
    color: #4a2e10;
    background-color: rgb(236, 215, 183);
    border-color: rgb(236, 215, 183);
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(161, 142, 113, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #4a2e10;
    background-color: rgb(186, 165, 133);
    border-color: rgba(161, 142, 113);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(161, 142, 113, 0.5);
}

.form-control:focus {
    border-color: rgba(161, 142, 113);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(161, 142, 113, 0.6);
}
*/