html,body{
    height:100%;
}
body {
    padding-top: 59px;
}

.carousel,.carousel-item,
.active{
    height:100%;
}
.carousel-inner{
    height:100%;
}
.carousel-item {
    background-size: cover;
}

.carousel-item-bg {
    background-color:rgba(58, 58, 58, 0.5);
    padding-top: 16px;
    padding-bottom: 16px;
}

.go-btn {
    width: 124px;
    border-radius: 0;
}

.bg1 {
    background: url(img/bg.png) no-repeat center center fixed; 
}
.bg2 {
    background: url(img/bg2.png) no-repeat center center fixed; 
}
.bg3 {
    background: url(img/bg3.png) no-repeat center center fixed; 
}

.breadcrumb {
    margin-top:20px;
    margin-left: 20px;
}

.breadcrumb-item a {
    color: #5c7fbf;
}

.productTitle {
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(169, 169, 169);
}

.filters {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#productContent {
    margin-top: 16px;
}

.pPrice {
    font-weight: bold;
}

.quantity-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
}

.hidden {
    display: none !important;
}

/*
.productImg {
    width: 100%;
    height: 300px;
}

.sideimg {
    display: flex;
    flex-direction: column;
}

#mainimg {
    width: 100%;
    height: 480px;
}

.sideimg img {
    width: 100%;
    height: 160px;
}

.productDetailContent {
    border: 2px solid grey;
    border-bottom: 0;
    padding: 28px;
}

.selector {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 4px;
}

.selector img {
    width: 38px;
    height: 38px;
}

.btn-add {
    border-radius: 0;
    width: 100%;
}

 maybe relevant later??
.btn-primary {
    color: #4a2e10;
    background-color: rgb(255, 251, 241);
    border-color: rgb(255, 251, 241);
}

.btn-primary:hover {
    color: #4a2e10;
    background-color: rgb(236, 215, 183);
    border-color: rgb(236, 215, 183);
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(161, 142, 113, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #4a2e10;
    background-color: rgb(186, 165, 133);
    border-color: rgba(161, 142, 113);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(161, 142, 113, 0.5);
}

.form-control:focus {
    border-color: rgba(161, 142, 113);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(161, 142, 113, 0.6);
}
*/